{% extends 'base.html.twig' %}

{% block body %}
    {% for s in sections %}
        <a href="{{ path("admin_section_show",{'id':s.id})}}">{{ s.theTitle }}</a>
    {% endfor %}
    {% for n in thenews %}
        <h3>{{ n.theTitle }}</h3>
        <p>{{ n.theText }}</p>
        <p>Le {{ n.theDate|date("Y-m-d") }} par {{ n.fosuser.username }}</p>
        <hr/>
    {% endfor %}
{% endblock %}
